{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{module.title}}{% endblock title %}
{% block description %}Page with module detail {{module.title}}{% endblock description %}
{% block body %}
  <div class="container">
    {% for module in modules %}
	<div class="row">
		<div class="col-md-12">
            <h1 class="mt-4 mb-3">{{module.title}}</h1>
            <dl>
                <dt>Público</dt>
                <dd>{{module.public}}</dd>
                <dt>Descrição</dt>
                <dd>{{module.description}}</dd>
            </dl>
            <h2>Aulas</h2>
            <ol>
                {% for lesson in module.lessons %}
                    <li><a href="{{lesson.get_absolute_url}}">{{lesson.title}}</a></li>
                {% endfor %}
            </ol>
		</div>
	</div>
    {% endfor %}
  </div>
{% endblock body%}


