{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aulas{% endblock title %}
{% block description %}Page with lesson details{% endblock description %}
{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/modules">Módulos</a></li>
    <li class="breadcrumb-item"><a href="{{lesson.module.get_absolute_url}}">{{lesson.module.title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{lesson.title}}</li>
  </ol>
</nav>
  <div class="container">
	<div class="row">
		<div class="col-md-12">
            <h1 class="mt-4 mb-3">{{ lesson.title }}</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ lesson.youtube_id }}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
		</div>
	</div>
  </div>
{% endblock body%}
