 <footer class="main-footer mt-5 pt-4">
	  <div class="container">
		  <div class="row">
			  <div class="col">
				<h3>Entre em contato</h3>
				  <address>
					  +55 21 96926-8787
					  <br/>
					  <a href="mailto:{{ email_contact }}">{{ email_contact }}</a>
				  </address>
			  </div>
		  </div>
	  </div>
	  <div class="rights pb-4">
		  <div class="container">
			  <div class="row">
				  <div class="col">
					{% now 'Y' %} Fraga Tech. Todos direitos reservados.
				  </div>
			  </div>
		  </div>
	  </div>
  </footer>