{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Douglas Fraga Rodrigues
				</h2>
				<h4 class="mt-4">Entre em contato</h4>
				<form action="https://fragatech.us2.list-manage.com/subscribe/post?u=0b0b12815b4010b7ed126ff1b&amp;id=fa7b251865"
					  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-row align-item-center"
					  target="_blank" novalidate>

				  <div class="form-row align-items-center">
					<div class="col-auto">
					  <label class="sr-only" for="mce-EMAIL">Email</label>
					  <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com">
					</div>
					<div class="col-auto">
					  <label class="sr-only" for="mce-FNAME">Email</label>
					  <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu nome">
					</div>
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
																							  name="b_0b0b12815b4010b7ed126ff1b_fa7b251865"
																							  tabindex="-1"
																							  value=""></div>

					<div class="col-auto">
					  <input type="submit" value="Subscribe" name="subscribe"
							 id="mc-embedded-subscribe" class="btn btn-primary">
					</div>
				  </div>
				</form>

</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Saiba mais sobre o profissional
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/dougfraga.jpg' %}" alt="Foto de Douglas Fraga Rodrigues"
									 class="img-thumbnail float-left mr-3">
								Redes
								<a href="https://www.instagram.com/fraga.douglas/?hl=pt-br" target="_blank">Instagram</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
{% endblock body%}
